<!-- <div style="padding-block: 10px; text-align: center; text-size-adjust: 100px">
  <h1>PatientUserDetails</h1>
  <div style="width: 30%; background-color: lightblue">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between"
      style="text-justify: auto"
    >
      <div
        fxFlex.gt-sm="25"
        fxFlex.gt-lg="20"
        fxFlex="50"
        style="padding: 5px; height: 150px"
      >
        <mat-card class="example-card">
         
          <mat-card-content>
            <h2>Locked User</h2>
            <p></p>
          </mat-card-content>
        </mat-card>
      </div>
      <div
        fxFlex.gt-sm="25"
        fxFlex.gt-lg="20"
        fxFlex="50"
        style="padding: 5px; height: 150px"
      >
        <mat-card class="example-card">
          <mat-card-content>
            <h2>Locked User</h2>
            <p></p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div> -->

<!-- <p></p>
<div style="padding-block: 10px; text-align: center; text-size-adjust: 100px">
  <h1>PatientUserDetails</h1>

  <section class="cards">
    <div style="background-color: lightblue; width: 30%; padding-right: 10px">
      <mat-card class="example-card">
        <mat-card-content>
          <h2>Locked Users</h2>
          <p></p>
        </mat-card-content>
      </mat-card>
    </div>

    <div style="background-color: lightblue; width: 30%; padding-right: 10px">
      <mat-card class="example-card">
        <mat-card-content>
          <h2>Deleted User</h2>
          <p></p>
        </mat-card-content>
      </mat-card>
    </div>

    <div
      style="
        background-color: lightblue;
        width: 30%;
        height: 150px;
        padding-right: 10px;
      "
    >
      <mat-card class="example-card">
        <mat-card-content>
          <h2>New Users</h2>
          <p></p>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div> -->
