<!-- <p>patientdynamic-table works!</p> -->
<div >
    <mat-card class="search-results">
      
      <mat-card-header>
        <mat-card-title>
          <h4>{{ tableTitle }}</h4>
        </mat-card-title>
      </mat-card-header>
    
      <mat-card-content>
       
        <mat-form-field class="full-width-filter" *ngIf="showSearch" >
          <mat-label>
            Search
          </mat-label>
          <input matInput  (change)="applyFilter($event)" autocomplete="off" />
        </mat-form-field>
      
        <!-- <table mat-table #table [dataSource]="dataSource"> -->
          <table mat-table #table [dataSource]="dataSource" style="width: 100%">
          <ng-container
            *ngFor="let column of columns"
            [matColumnDef]="column.columnDef" 
          >
            <div *ngIf="column.columnDef !== 'detailBtn' && column.type !== 'button'">
              <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
              <td  mat-cell *matCellDef="let row">
                <span class="Elipsis">{{ column.dataName(row) }}</span> 
              </td>
            </div>
    
            <div *ngIf="column.columnDef === 'detailBtn' || (column.type === 'button')">
              <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
              <td mat-cell *matCellDef="let row">
              <mat-icon
              color="primary"
              id="column.dataName(row)"
              (click)="viewItem(column.dataName(row),column.columnDef)"
            > {{column.icon}} 
            </mat-icon>  
            </div>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            [class.active]="row.isActive"
          ></tr>
        </table>
    
      
        <mat-paginator 
        *ngIf="showPagination"
        #paginator 
        [pageSize]="5" 
        [pageSizeOptions]="[5, 10, 20]" 
        [showFirstLastButtons]="true"
          [length]="length"
          (page)="updateProductsTable($event)"
        ></mat-paginator>
      </mat-card-content>
    </mat-card>
    </div>
    
    
    