mat-card-header
{
    font-size: medium;
    color: blue;
}
th{
    font-size:medium;
    color:black;   
    padding: 10px !important;
}
td{
    font-size: small;
    color:grey;
   align-items: center;
   padding-left:10px !important;
   text-overflow: ellipsis;
   overflow: hidden;
   max-width: 200px;
}
mat-card
{
    border:1px grey
}
mat-label
{
    font-size: small;
}
td > span.Elipsis {
   white-space: normal;     
     /* overflow: hidden; */
    text-overflow: ellipsis;
    max-width: 30rem;
 }
 mat-card-header
{
    font-size: medium;
    color: blue;
}
th{
    font-size:medium;
    color:black;   
    padding: 10px !important;
}

mat-card
{
    border:1px grey;
    max-width: 100vw;
}
mat-label
{
    font-size: small;
}

 
