<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div>
        <div class="card auth">
          <div class="card-body auth-card">
            <button
              mat-icon-button
              class="close-button"
              [mat-dialog-close]="true"
              tabindex="2"
            >
              <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>
            <form>
              <span
                alt="user"
                class="user-image text-center"
                style="margin-bottom: 1rem; color: white"
                ><h3 class=" ">Forgot Password</h3></span
              >
              <div class="form-group">
                <label class="" for="email" style="color: white"
                  >Email :
                </label>
                <input
                  type="text"
                  name="email"
                  class="form-control"
                  placeholder="Email"
                />
              </div>
              <div class="text-center">
                <input type="submit" class="btn btn-my" value="Send Mail" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
