<!-- <app-dynamic-table [(receivedData)]="fakeData"></app-dynamic-table> -->

<!-- <app-chart [data]="value"></app-chart> -->

<!-- <app-pie-chart [value]="value"></app-pie-chart> -->

<!-- <app-book-appointment></app-book-appointment> -->

<app-calendar></app-calendar>

<!-- <div label="All Products">
  <div *ngIf="allResults">
    <app-dynamic-table
      [receivedData]="fakeData"
      [columns]="columns"
      tableTitle="All Products"
      [metaCount]="metaCount"
      (clickedItem)="viewItem($event)"
      (pageEvent)="updatePagination($event)"
      (filterEvent)="getProductsSearched($event)"
        >
    </app-dynamic-table>
  </div>
</div> -->
