<div class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-6">
              <div class="small-box bg-info" style="padding: 13px">
                <div class="inner">
                  <h3>{{ totalPastAppointmentCount }}</h3>
                  <a (click)="PatientLink('Appointment')">
                    <p>Total Appointments</p>
                  </a>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-danger" style="padding: 13px">
                <div class="inner">
                  <h3>650</h3>
                  <p>Blood Pressure</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-warning" style="padding: 13px">
                <div class="inner" style="color: #fff">
                  <h3>66-85</h3>
                  <p>Glucose Level</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-success" style="padding: 11px">
                <div class="inner">
                  <h3 style="font-size: 20px">Covid Book Appointment</h3>
                  <br />
                  <button
                    (click)="DashboardRedirectURL('Covid')"
                    type="button"
                    class="btn btn-primary float-center"
                  >
                    Click here
                  </button>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- Main row -->
          <div class="row">
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-12 connectedSortable">
              <!-- /.card -->

              <div class="card">
                <div class="card-header">
                  <mat-form-field appearance="fill" style="width: 25%">
                    <mat-label>Select Appointment</mat-label>
                    <mat-select
                      (selectionChange)="filterAppointments(selectedValue)"
                      [(ngModel)]="selectedValue"
                      name="appointment"
                    >
                      <mat-option
                        *ngFor="let appointment of appointments"
                        [value]="appointment.value"
                      >
                        {{ appointment.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="card-tools">
                    <div
                      class="input-group input-group-sm"
                      style="width: 150px"
                    ></div>
                  </div>
                </div>

                <div class="card-body p-0">
                  <div [hidden]="!griddata">
                    <app-patientdynamic-table
                      [receivedData]="griddata"
                      [columns]="showcolumns"
                      [metaCount]="metaCount"
                      (clickedItem)="viewItem($event)"
                      (pageEvent)="updatePagination($event)"
                      (filterEvent)="searchAppointments($event)"
                    >
                    </app-patientdynamic-table>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>

              <!-- /.card -->
            </section>
            <!-- right col -->
          </div>
          <!-- /.row (main row) -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong
        >Copyright &copy; 2020-2021
        <a href="https://adminlte.io">Cosmos Hospital</a>.</strong
      >
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
      </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
</div>

<!-- /.cancel Modal header -->
<div
  class="modal"
  id="cancelModal"
  [style.display]="showCancelModal ? 'block' : 'none'"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="header">
        <h4 mat-dialog-title>Delete Appointment</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="hidetool()"
        >
          &times;
        </button>
      </div>
      <!-- Modal body -->
      <div mat-dialog-content class="modalbody">
        Are you sure you want to cancel this appointment?
      </div>
      <!-- Modal footer -->
      <div mat-dialog-actions [align]="'end'" class="modalfooter">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          (click)="hidetool()"
        >
          No
        </button>
        &nbsp;
        <button
          type="button"
          class="btn btn-success"
          data-dismiss="modal"
          (click)="canceltool()"
        >
          Yes
        </button>
        &nbsp; &nbsp; &nbsp;
      </div>
    </div>
  </div>
</div>

<!-- /.cancel ModalNew header -->
<div
  class="modal"
  id="cancelModalNew"
  [style.display]="showCancelModalNew ? 'block' : 'none'"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="header">
        <h4 mat-dialog-title>Reason for cancel appointment.</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="hidetool()"
        >
          &times;
        </button>
      </div>
      <!-- Modal body -->
      <div mat-dialog-content class="modalbody">
        <form [formGroup]="addReasonform">
          <textarea
            [(ngModel)]="addReason"
            formControlName="textReason"
            placeholder="text here reason.."
            style="width: 65%; height: 80px"
          ></textarea>
        </form>
      </div>
      <!-- Modal footer -->
      <div mat-dialog-actions [align]="'end'" class="modalfooter">
        <button
          type="button"
          class="btn btn-success"
          data-dismiss="modal"
          (click)="canceltool()"
        >
          Submit
        </button>
        &nbsp; &nbsp; &nbsp;
      </div>
    </div>
  </div>
</div>

<!-- msg -->
<div
  class="modal"
  id="submitModal"
  [style.display]="showSubmitModal ? 'block' : 'none'"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal header -->
      <div>
        <mat-icon class="header2" style="font-size: 60px"
          >check_circle_outline</mat-icon
        >
      </div>
      <!-- Modal body -->
      <div mat-dialog-content>
        <h5 style="text-align: center; padding-top: 10%; font-size: x-large">
          Successfully Submitted.
        </h5>
      </div>
      <!-- Modal footer -->
      <div
        mat-dialog-actions
        [align]="'end'"
        class="modalfooter"
        style="font-size: large"
      >
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="hidetool()"
        >
          Ok
        </button>
        &nbsp; &nbsp; &nbsp;
      </div>
    </div>
  </div>
</div>

<!-- /.Decline Modal header -->
<div
  class="modal"
  id="declineModal"
  [style.display]="showDeclineModal ? 'block' : 'none'"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Appointment Decline</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="hide()"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div *ngIf="selectedAppointment" class="modal-body">
        <h5>Declined By : {{ currentUser.role }}</h5>
        <h5>Reason : {{ selectedAppointment.deletedReason }}</h5>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="hide()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--  Prescription Modal -->
<div
  class="modal"
  id="prescriptionModel"
  [style.display]="showPrescriptionModal ? 'block' : 'none'"
>
  <div class="modal-dialog" style="max-width: 600px">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Prescription</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="hidePrescriptionModel()"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="card-body p-0">
          <div [hidden]="!gridDrugData">
            <app-patientdynamic-table
              [receivedData]="gridDrugData"
              [columns]="showprescriptionscolumns"
              [metaCount]="metaCount"
              [showPagination]="false"
              [showSearch]="false"
            >
            </app-patientdynamic-table>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="hidePrescriptionModel()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--  View Detail Modal -->
<div
  class="modal"
  id="viewdetailModel"
  [style.display]="showviewdetailModel ? 'block' : 'none'"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">View Detail</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="hideViewdetailModel()"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" *ngIf="selectedAppointment">
        <h5>AppointmentStatus : {{ selectedAppointment.appointmentStatus }}</h5>
        <h5>Doctor : {{ selectedAppointment.doctorName }}</h5>
        <h5>AppoinmentStatus : {{ selectedAppointment.appointmentStatus }}</h5>
        <h5>Diagnosis : {{ selectedAppointment.diagnosis }}</h5>
        <h5>
          Appointment Date :
          {{ selectedAppointment.appointmentDateTime | date: "short" }}
        </h5>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="hideViewdetailModel()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
