@import url('../../../../assets/css/Common.css');
.modal{
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
}
.modalbody{
    padding-top: 15px;
    padding-left: 25px;
}
.modalfooter{
    padding-top: 15px;
    padding-bottom: 15px;
}
.m1{

}
.header2{

    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding-top: 10%;
    /* padding-right: 25px; */
    padding-left: 45%;


    /* text-align: center;  */
    color: limegreen; 
    /* padding-top: 60px; */
}