@import url('../../../../assets/css/Common.css');

mat-header-cell{
    border: 1px solid #fff;
    background-color:rgb(23, 118, 177);
    color: white;
    font-size: 0.9vw;
    text-align: center !important;

  }
 
  mat-header-cell, mat-cell {
    justify-content: center;
  }
  mat-cell ,td { 
    font-size: 0.9vw;
    text-align: center !important;
    border: 1px solid lightgray;
  }
  