<!-- Old Navbar-->
<mat-nav-list *ngIf="(currentUser | json) != '{}'">
  <span class="logo py-4">
    <img src="assets/Images/CosmosLogo.png" style="width: 100%;height: 100%;" />
  </span>
  <a mat-list-item  [routerLink]="['AdminDashboard']" routerLinkActive="router-link-active"
    *ngIf="isAdmin">
    DashBoard
  </a>

  <a mat-list-item  [routerLink]="['Physician']" (click)="setTitle('Physician')"
    routerLinkActive="router-link-active" *ngIf="isPhysician" >Physician</a>

  <a mat-list-item  [routerLink]="['AddPhysician/physician']" routerLinkActive="router-link-active"
    *ngIf="isAdmin" (click)="setTitle('Register Physician')" >
    Register Physician
  </a>
  <a mat-list-item  [routerLink]="['AddNurse/nurse']" routerLinkActive="router-link-active"
    *ngIf="isAdmin" (click)="setTitle('Register Nurse')" >
    Register Nurse
  </a>
  <a mat-list-item  [routerLink]="['BedAllotment']" routerLinkActive="router-link-active"
    *ngIf="isAdmin" (click)="setTitle('Bed Allotment')" >
    Bed Allotment
  </a>
  <a mat-list-item  [routerLink]="['BillGenerate']" routerLinkActive="router-link-active"
    *ngIf="isAdmin" (click)="setTitle('Bill Generate')" >
    Bill Generate
  </a>
  <a mat-list-item   [routerLink]="['ViewPhysician']" routerLinkActive="router-link-active"
    *ngIf="isPhysician" (click)="setTitle('View Physician')">
    Calendar
  </a>
  <a mat-list-item  [routerLink]="['NurseDashboard']" routerLinkActive="router-link-active"
    *ngIf="isNurse" (click)="setTitle('Nurse')">
    Nurse
  </a>
  <a mat-list-item   [routerLink]="['Inbox']" routerLinkActive="router-link-active"
    *ngIf="isNurse || isPhysician">
    Inbox
  </a>
  <a mat-list-item  [routerLink]="['NurseBedAllotment']" routerLinkActive="router-link-active"
    *ngIf="isNurse" (click)="setTitle('Bed Allotment')" >
    Bed Allotment
  </a>
  <a mat-list-item   [routerLink]="['PatientDashboard']"
    routerLinkActive="router-link-active" *ngIf="isPatient" (click)="setTitle('PatientDashboard')">
    DashBoard
  </a>

  <a mat-list-item   [routerLink]="['PatientDetails']"
    routerLinkActive="router-link-active" *ngIf="isPatient" (click)="setTitle('Patient')">
    Demographics Details
  </a>
  <a mat-list-item   [routerLink]="['PatientBookAppointment/Patient']"
    routerLinkActive="router-link-active" (click)="setTitle('BookAppointment')" *ngIf="isPatient">
    BookAppointment
  </a>
  <a mat-list-item   [routerLink]="['PatientCalender/Patient']"
    routerLinkActive="router-link-active" *ngIf="isPatient" (click)="setTitle(' Patient Calendar')">
    Patient Calendar
  </a>
  <a mat-list-item   [routerLink]="['Subscription']" routerLinkActive="router-link-active"
    *ngIf="isPatient" (click)="setTitle('Subscription')">
    Subscription
  </a>
  <a mat-list-item  [routerLink]="['BookAppointment/Patient']" routerLinkActive="router-link-active"
    *ngIf="isAdmin" (click)="setTitle(' Book Appointment')">
    Book Appointment
  </a>
  <a mat-list-item   [routerLink]="['Calender']" routerLinkActive="router-link-active"
    (click)="setTitle('Calendar')" *ngIf="isAdmin">
    Calendar
  </a>

  <a mat-list-item   [routerLink]="['CurrentPatient']"
    routerLinkActive="router-link-active" (click)="setTitle('CurrentPatient')" *ngIf="isPhysician">
    Current Patient
  </a>
</mat-nav-list>
