#floorDiv{
    width:100%;
    height:100%;
    margin: 7px;
    border:1px solid black;
  }

  #roomDiv{
    width:100%;
    height:50px;
    margin:7px;
    border:1px solid black;
    display:inline-flex;
  }

  #bedDiv{
    width:90%;
    height:25px;
    margin:7px;
    border:1px solid black;
    display:inline-flex;
  }

  #iconId{
    max-width: 25px;
  }