<section class="vh-100 gradient-custom">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-6"></div>
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card auth">
          <div class="card-body auth-card">
            <form [formGroup]="changepasswordform" (ngSubmit)="onSubmit()">
              <h1
                class="text-black font-bold text-center"
                style="color: cornflowerblue; font-weight: bold"
              >
                Change Password
              </h1>

              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Default Password"
                  formControlName="oldpassword"
                  [ngClass]="{
                    'is-invalid':
                      submitted &&
                      this.changepasswordform.controls['oldpassword'].invalid
                  }"
                />
              </div>

              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      submitted &&
                      this.changepasswordform.controls['password'].invalid
                  }"
                />
              </div>

              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirm Password"
                  formControlName="confirmpassword"
                  [ngClass]="{
                    'is-invalid':
                      submitted &&
                      this.changepasswordform.controls['confirmpassword']
                        .invalid
                  }"
                />
              </div>

              <div>
                <mat-error style="color: red">
                  {{ errormessage }}
                </mat-error>
              </div>

              <div>
                <button
                  class="btn btn-primary align-items-center submit"
                  style="font-weight: 700"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <ng-template> -->
<!-- <div class="modal-header p-0" style="color: cornflowerblue;" >
    <h2 class="justify-content-center mt-3  w-100 text-center"
    id="modal-basic-title">
  Change Password
  </h2>

	</div>

  <div class="modal-body">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <div class="panel-body" >
              <fieldset>
                <div class="form-group">
                  <input class="mt-2 form-control text-black input-lg" placeholder="Enter Old Password"  [(ngModel)]="oldpassword" name="Old Password" type="password" value = "oldpassword"/>
         
                  <input class="mt-2 form-control text-black input-lg" placeholder="Enter New Password"  [(ngModel)]="newpassword" name="password" type="password"  value = "newpassword" />
                 
                  <input class="mt-2 form-control text-black input-lg"  placeholder="Confirm New Password" [(ngModel)]="confirmpassword" name="confirmpassword" type="password" value = "confirmpassword" />
                 
                </div>

                <div>
                  <span style="color:red">{{errorMessage}}</span>
                </div>
                <button class="mt-2 btn btn-md btn-primary btn-block" [disabled]="!oldpassword || !newpassword || !confirmpassword"  data-dismiss="modal">Reset Password</button>
              </fieldset>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
   -->
<!-- </ng-template> -->
