section
{
  background-image: url("../../../../assets/Images/Bg6.jpg");
  align-items: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


input.ng-invalid.ng-touched {
    border: 1px solid red;
    border-bottom: none;
    padding: 1px;
  }

  .auth-card{
    background:#fff;  /* fallback for old browsers */
    border:1px solid #ddd;
    border-radius: 5px;
    vertical-align: middle;
    }

    .user-image{
        height: 70px;
        }
        .auth-avatar{
        text-align: center;
        margin-top: -50px;
        }
        .auth{
        margin-top: 35px;
        border: none;
        border-radius: 6px;
        }