.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: auto !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-gender {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: auto !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-diagnosis {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: auto !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-physician {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width:auto !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-mobile {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: auto !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  
  mat-cell > span.ellipsis {
     text-overflow: ellipsis; 
     overflow: hidden; 
     white-space: nowrap;
  }
  .mat-column-edit {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: auto !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
 
  mat-header-cell, mat-cell {
    justify-content: center;
  }
  mat-cell ,td { 
    font-size: 0.9vw;
    text-align: center !important;
    border: 1px solid lightgray;
  }


  
table {
  width: 100%;
  border-collapse: collapse;
 

}

th {
  border-bottom: 1px solid #000;
  background-color:#ABCFE6;
  color: black;
}
td{
   border-bottom: 1px solid #000;  
}

td{ 
  padding: 20px 0;
  text-align: center;
  border: 1px solid lightgray;
}

tr {
  background: #fff;
}

th{
  border-bottom: 1px solid #000;
  background-color:#ABCFE6;
  color: black;
  font-size: 1vw;
  border: 1px solid #000;
  text-align: center;
}

 
mat-header-cell{
  border-bottom: 1px solid #000;
  background-color:#ABCFE6;
  color: black;
  font-size: 0.9vw;
  text-align: center !important;

}

mat-header-cell, mat-cell {
  justify-content: center;
}
mat-cell ,td { 
  font-size: 0.9vw;
  text-align: center !important;
  border: 1px solid lightgray;
}
